{% extends 'base.html' %}
{% block content %}
<div class="">
    {{ form.errors }}
</div>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_username" class="form-label">Username</label>
        {{ form.username }}
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="id_email" class="form-label">Email</label>
        {{ form.email }}
    </div>
    <div class="mb-3">
        <label for="id_password" class="form-label">Password</label>
        {{ form.password }}
    </div>
    <div class="mb-3">
        <label for="id_confirm_password" class="form-label">Confirm password</label>
        {{ form.confirm_password }}
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
{% endblock content %}
